--extra-index-url https://switch:switch098%21@pypi.switch-ev.com/simple

aioredis==2.0.0; python_version >= "3.7" and python_version < "4.0"
async-timeout==4.0.1; python_version >= "3.7" and python_version < "4.0"
asyncio-mqtt==0.11.0
attrs==21.2.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
importlib-metadata==4.2.0; python_version >= "3.7" and python_version < "3.8"
jsonschema==3.2.0; python_version >= "3.7" and python_version < "4.0"
mqtt-api==0.4.0; python_version >= "3.7" and python_version < "4.0"
paho-mqtt==1.6.1
pyrsistent==0.18.0; python_version >= "3.7" and python_version < "4.0"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.3.0"
typing-extensions==4.0.0; python_version >= "3.7" and python_version < "3.8"
zipp==3.6.0; python_version >= "3.7" and python_version < "3.8"
